In [1]:
import pandas as pd
import numpy as np

In [2]:
## Shapes data
N = 10
circles = [(k,k) for k in np.random.randint(5, 20, size=N)]
ellipses = [(k + np.random.randint(-5,5), k + np.random.randint(-5,5)) for k in np.random.randint(5, 20, size=N)]

In [3]:
df = pd.DataFrame(circles + ellipses, columns=["Width", "Height"])

In [4]:
df.head()

   Width  Height
0     18      18
1     15      15
2     18      18
3     18      18
4     14      14

In [5]:
df["shape"] = "Circle"

In [6]:
df.ix[df["Width"] != df["Height"], "shape"] = "Ellipse"

In [7]:
df

    Width  Height    shape
0      18      18   Circle
1      15      15   Circle
2      18      18   Circle
3      18      18   Circle
4      14      14   Circle
5       8       8   Circle
6      18      18   Circle
7      17      17   Circle
8      15      15   Circle
9      11      11   Circle
10     20      15  Ellipse
11      7      11  Ellipse
12     10      15  Ellipse
13      4       9  Ellipse
14     11       8  Ellipse
15     12      19  Ellipse
16     18      15  Ellipse
17     20      15  Ellipse
18     18       9  Ellipse
19     17      17   Circle

In [8]:
df = df.reindex(np.random.permutation(df.index))

In [9]:
df

    Width  Height    shape
14     11       8  Ellipse
10     20      15  Ellipse
7      17      17   Circle
2      18      18   Circle
6      18      18   Circle
13      4       9  Ellipse
19     17      17   Circle
18     18       9  Ellipse
16     18      15  Ellipse
3      18      18   Circle
11      7      11  Ellipse
8      15      15   Circle
17     20      15  Ellipse
4      14      14   Circle
5       8       8   Circle
12     10      15  Ellipse
1      15      15   Circle
9      11      11   Circle
0      18      18   Circle
15     12      19  Ellipse

In [10]:
df.to_csv("Shapes_circle_ellipse.csv", index=False)

In [11]:
! head Shapes_circle_ellipse.csv

Width,Height,shape
11,8,Ellipse
20,15,Ellipse
17,17,Circle
18,18,Circle
18,18,Circle
4,9,Ellipse
17,17,Circle
18,9,Ellipse
18,15,Ellipse

In [13]:
df["shape"].value_counts()

Circle     11
Ellipse     9
Name: shape, dtype: int64